body {
    font-family: 'Arial', sans-serif;
    background-image: url(wallpaper.jpeg);
    background-size: cover; /* Agar wallpaper memenuhi layar */
    background-position: center; /* Memusatkan wallpaper */
    background-attachment: fixed; /* Wallpaper tetap di tempat saat scroll */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5em;
    color: #ff6b6b;
    animation: fadeIn 2s ease;
}

.message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3b3b;
}

#specialMessage {
    margin-top: 20px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
